@tailwind base;
@tailwind components;
@tailwind utilities;

@font-awesome

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes slide-in {
  0% { transform: translateX(100%) translateY(-50%); opacity: 0; }
  100% { transform: translateX(0) translateY(-50%); opacity: 1; }
}

@keyframes slide-out {
  0% { transform: translateX(0) translateY(-50%); opacity: 1; }
  100% { transform: translateX(100%) translateY(-50%); opacity: 0; }
}

.animate-slide-in {
  animation: slide-in 0.4s ease-out forwards;
}

.animate-slide-out {
  animation: slide-out 0.3s ease-in forwards;
}
